@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  background-size: cover;
  background-attachment: fixed;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}

.checkers-black {
  background-color: black;
}

.checkers-white {
  background-color: white;
}

td {
  height: 75px;
  width: 75px;
}

tbody {
  border: 1px, solid, black;
}
