doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Checkers
    //- link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css')
    //- link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css')
    link(rel='stylesheet', href='./css/app.css')
  body
    .header
      #checkers Checkers:
      #beatles
        img(src='./media/beatlesheader300px.png')
      #vs VS
      #stones
        img(src='./media/stonesheader400px.png')


    .boardbackground
      table#board
        thead
        tbody
          - for(var i = 0; i < 4; i++)
            tr
              td.checkers-white
              td.checkers-black.valid
              td.checkers-white
              td.checkers-black.valid
              td.checkers-white
              td.checkers-black.valid
              td.checkers-white
              td.checkers-black.valid
            tr
              td.checkers-black.valid
              td.checkers-white
              td.checkers-black.valid
              td.checkers-white
              td.checkers-black.valid
              td.checkers-white
              td.checkers-black.valid
              td.checkers-white


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
